
:root {
    --color-purple: #731DD8;
    --color-black: #000;
    --color-light-orange: #FF7F11;
    --color-dark-orange: #FF3F00;
    --color-green: #20BF55;
}
*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--color-purple);
    color: var(--color-black);
}

.title {
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: reba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    margin: -0.3em 0 0 0.5em;
}
.all-tasks {
    background-color: var(--color-green);
}
.task-list {
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: circle;
    padding-left: 1.1em;
}
.list-name {
    cursor: pointer;
}
.list-name:hover {
    opacity: 0.7;
}
.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}
.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0.25em;
    transition: opacity 250ms ease-in;
}
.btn.create::hover {
    opacity: 0.7;
}
.btn-delete {
    opacity: 0.7;
    font-size: 1rem;
    transition: color 200ms;
}
.btn-delete:hover {
    color: var(--color-dark-orange);
}
.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    transition: border-bottom 150ms ease-in;
    order: 2;
    padding: 0.25em;
}
.new::placeholder {
    opacity: 0.4;
}
.new:focus {
    border-bottom-width: 3px;
}
.new:focus::placeholder {
    opacity: 0.15;
}
.new.list {
    font-size: 1.1rem;
}
.new.task {
    margin-bottom: 0;
}

.active-list {
    font-weight: 700;
}
.todo-list {
    --spacer: 2rem;

    grid-area: active;
    background: var(--color-black);
    color: var(--color-light-orange);
}
.todo-header {
    padding: var(--spacer);
    background: #e4e4e4;
    align-items: center;
    justify-content: space-between;
}
.list-title {
    margin-right: 0 1em 0 0;
    margin: 0;
}
.task-count {
    margin: 0;
    font-size: 1rem;
}
.todo-body {
    padding: var(--spacer);
    position: relative;
}

.new-task-creator .create {
    color: var(--color-purple);
}

[type='checkbox'] {
    opacity: 0;
    position: absolute;
}
.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
}
.task {
    position: relative;
}
.task::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    bottom: -.5em;
    background: currentColor;
    opacity: 0.1;
}
.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height:var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}


.task:hover .custom-checkbox, [type='checkbox']:focus + label .custom-checkbox{
    transition: scale(1.2);
    color: var(--color-purple);
}

[type='checkbox']:checked + label .custom-checkbox {
    background: var(--color-purple);
    border-color: var(--color-purple);
    box-shadow: inset 0 0 0px 3px whitesmoke;
}

[type='checkbox']:checked + label {
    opacity: 0.5;
}
.task label::after {
    content: '';
    position: absolute;
    left: 1.5em;
    right: 0;
    top: calc(50% - 1.5px);
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0ms ease-in-out;
}
[type='checkbox']:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}
.delete-stuff {
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: var(--color-black);
}

